@import "@/styles/base/variables";
.todo-list {
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  @media screen and (max-width: $sm) {
    width: 80%;
    margin: 0 auto;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
