// Colors
$primary-color: #e0f7fa;
$secondary-color: #80cbc4;
$tertiary-color: #388270;
$accent-color: #e0f7fa;
$accent-color--light: #ffe0b3;
$white: #fff;
$text-color: #aaa8a9;

// Tipography
$font-family: "Roboto", sans-serif;

// Border radius
$border-radius: 20px;

// container width
$container-width: 1200px;
